.contacto-Form {
    width: 100%;
    max-width: 26rem;
    height: 25rem;
    margin-top: 2.4rem;
    
    display: flex;
    flex-direction: column;
}

.form1 {
    margin-top: 1rem;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 0.5rem;
    outline: none;
    width: 25rem;
    height: 2.8rem;
    padding: 0.5rem;
}

.form2 {
    margin-top: 1rem;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 0.5rem;
    outline: none;
    padding: 0.5rem;
    font-weight: 300;
    width: 25rem;
    height: 2.8rem;
}

.form3 {
    margin-top: 1rem;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 0.5rem;
    outline: none;
    font-weight: 300;
    padding: 0.5rem;
    width: 25rem;
    height: 10rem;
}

.botForm {
    width: 7.2rem;
    height: 2.5rem;
    border-radius: 3px;
    font-weight: 300;
    background-color: black;
    color: aliceblue;
    margin-right: 1.1rem;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}

.div-base-btn {
    margin-top: 1rem;
    display: flex;
    justify-content: end;
}
